# Latex related.
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.gz

# idea
.idea/*

# paths config file
config.py

# notebook
main.ipynb
.ipynb_checkpoints/*

# generated data
dataset/*
*.hdf5

# cache
__pycache__/*
