# Latex related.
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.gz

# idea
scripts/.idea/*

# paths config file
config.py

# notebook
*.ipynb
scripts/.ipynb_checkpoints/*

# generated data
dataset/*
*.hdf5

# outputs
sharedfolder/*

# cache
scripts/__pycache__/*

# Docker related
docker_related/*

